@font-face {
    font-family: raleway;
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

html{
    font-size: 10px;
}

header{
    height:76px;
    /* background-color: bisque; */
    font-family: raleway;
    border-bottom: solid 1px #a8a7a735;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color:#666;
    font-size: 2rem;
    text-decoration: none;
    padding-left: 50px;
}

.logo:hover{
    color:#333;
}

li a{
    text-decoration: none;
    color:#333;
    padding-right: 80px ;
    font-size: 12px;
}

li a:hover{
    color:#337ab7;
}

li{
    list-style: none;
}
